body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.fondoLogin{
  background-image: url(../img/img-background-login.jpg);
  background-position: center;
  background-size: cover;

  /*background-image: -webkit-linear-gradient(309deg, #495a67 0%, #69707a 71%, #6e768e 100%);
  background-image: linear-gradient(141deg, #495a67 0%, #69707a 71%, #6e768e 100%);*/
}

.fondoLogin a:hover {
  color: white;
}

.loginfoot strong,
.loginfoot p {
  color: white;
}

/* --------------------------------------*/
/* Social Login Buttons------------------*/
/* --------------------------------------*/

/* Shared */
.sociallogin a {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 5px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 15px;
  color: #FFF;
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}

.sociallogin a {
  outline: none;
}

.sociallogin a:hover {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

/* --------------------------------------*/
/* Social Login Buttons------------------*/
/* --------------------------------------*/
