/*Fonts ----------------------*/
@font-face {
    font-family: OpenSans-Light;
    src: url("../fonts/site/OpenSans-Light.ttf");
}

@font-face {
    font-family: OpenSans-Regular;
    src: url("../fonts/site/OpenSans-Regular.ttf");
}

@font-face {
    font-family: OpenSans-Bold;
    src: url("../fonts/site/OpenSans-Bold.ttf");
}

@font-face {
    font-family: OpenSans-ExtraBold;
    src: url("../fonts/site/OpenSans-ExtraBold.ttf");
}
@font-face {
    font-family: OpenSans-CondensedBold;
    src: url("../fonts/site/OpenSans-CondBold.ttf");
}


/*Equipo CSS*/
.maria{
	background-color: #92a000;
}
.jose{
	background-color:#00afab;
}
.elizabeth{
	background-color:#8b8a8f;
}
.pastora{
	background-color:#fd4f00;
}
.luis{
	background-color:#3c5290;
}

.imgPrincipal{
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-image: url(../img/equipo/equipo.jpg);
    color: white;
    font-family: OpenSans-ExtraBold;
    font-size: 90px;
    text-align: right;
	width: 100%;
}
.imgPrincipal .sombra{
	padding-top: 160px;
    padding-bottom: 160px;
    

 background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 66%, rgba(0,0,0,0.52) 79%, rgba(0,0,0,0.39) 91%, rgba(0,0,0,0) 100%);
 background: -o-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 66%, rgba(0,0,0,0.52) 79%, rgba(0,0,0,0.39) 91%, rgba(0,0,0,0) 100%);
 background: linear-gradient(to right, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 66%, rgba(0,0,0,0.52) 79%, rgba(0,0,0,0.39) 91%, rgba(0,0,0,0) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.imgPrincipal img{

    margin-left: auto;
}

#banner {
	width: 100%; 
	height: 7.8vw;  /* 150px;*/
	background-color: #3c5290; 
	float:left;
	padding-right: 15%;
    padding-left: 15%;

}
.logos{

	width:20%; /*14.28%;*/
	height:100%;
	float:left;
	position: relative;

}
.logos img{

    max-height: 80%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.cap{
	float:left
}

#ren{
	width:100%;
	color:white;
	overflow: auto;
	padding-top: 6%;
    padding-left: 8%;
    padding-right: 15%;
    text-align: justify;
    font-size: 1.1vw;
}
#ren img{
	width:50%;
	height:5%;
}
#ren2{
	width:100%;
	color:white;
	overflow: auto;
/*	padding-top: 6%;*/
    padding-left: 8%;
    padding-right: 15%;
    text-align: justify;
    font-size: 1.1vw;
    float:right
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {

}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {



	
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
	
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
	
}

/*Quienes Somos CSS*/
.white{
	background-color: white;
}
.olas img{
	width:60%;
	height:2%;
	/*text-align: center;*/
}
.center{
	text-align: center;
	font-size: 1.2vw;
}

.texto p{
	padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    font-size: 1vw;
    font-family: OpenSans-Regular;
}
.texto b{
	font-family: OpenSans-ExtraBold;
}
#titulo{
	padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4%;
    padding-top: 3%;
    float: right;
    text-align: right;
}
	#titulo h2{
		float:right;
		color:white;
		font-size:2.6vw;
		/*font-size: 35px;*/
		font-family: OpenSans-ExtraBold;
	}
.texto2 p{
	padding-left: 10%;
    padding-right: 10%;
    padding-top: 20%;
    text-align: justify;
    font-size: 150%;
	color:white;
	font-family: OpenSans-Regular;
}
.texto2 b{
	font-family: OpenSans-ExtraBold;
}
.texto3 p{
	padding-left: 10%;
    padding-right: 10%;
    padding-top: 20%;
    padding-bottom: 10%;
    text-align: center;
    font-size:150%;
}
.texto3 h2{
    font-size: 415%
}
#titulo2{
    text-align: center;
    padding-bottom: 5%;
}
#titulo2 h2{
 	font-family: OpenSans-ExtraBold;
}


#alliance{
	text-align: center;
	
	padding-top: 10%
}
	#alliance img{
	width:30%;
}
    
.qsheader{
	/*width:100%;*/
	/*height:42vw;*/
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-image: url(../img/quienessomos/QSHeader.jpg);
    color: white;
    font-family: OpenSans-ExtraBold;
    font-size: 120px;
    text-align: right;
}

	.qsheader img {
	/*	width:100%;
		height:100%;*/
	}

.qsheader .sombra{
	padding-top: 380px;
    padding-bottom: 50px;
    /*width:50%;*/

 background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 66%, rgba(0,0,0,0.52) 79%, rgba(0,0,0,0.39) 91%, rgba(0,0,0,0) 100%);
 background: -o-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 66%, rgba(0,0,0,0.52) 79%, rgba(0,0,0,0.39) 91%, rgba(0,0,0,0) 100%);
 background: linear-gradient(to right, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 66%, rgba(0,0,0,0.52) 79%, rgba(0,0,0,0.39) 91%, rgba(0,0,0,0) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
.qsheader .sombra img{ 
	margin-left: auto;
}
  
.vision{
	background-color: #d6efed;
	color:#009999;
	padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    font-size: 150%;
    text-align: center; 
    padding-bottom: 9%;
    font-family: OpenSans-Bold;
}
	.animaciongif img{
		width:45%;
		height:67%;
		text-align: center;
		float:center;
	}
.aligncenter
{
	text-align: center;
}

.bannerEquipo{
	background: url(../img/quienessomos/bannerEquipo.jpg); 
	background-size: cover;
	width:100%;
	float:left;
	font-family: OpenSans-ExtraBold;
	font-size:55px;
	position:relative;
	overflow: hidden;
    transition: all .5s ease;
		
}
	.bannerEquipo p{
		/*width:100%;
		height:100%;*/
		color:white;
	    padding-bottom: 7%;
	    padding-top: 7%;
	    text-align: center;
	}
	.bannerEquipo a{
		text-decoration: none;
	}
	.bannerEquipo:hover{
		overflow: hidden;
		background-size: cover;
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
	  	-ms-transform: scale(1.1);
	  	-o-transform: scale(1.1);

	}
#qstext{
	width:100%;
	/*height:26.82vw;*/
	background-color:#3c5290;
	float:left;
	color:white;
	text-align: center;
	overflow: auto;
	font-size: 120%;
	padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}
#qstextolas{
	padding-top: 2vw;
    padding-bottom: 2vw;
	text-align: center;
}
	#qstextolas img{		
		margin-left: auto;
    	margin-right: auto;
	}

/*p.small {
    line-height: 70%;
}*/

/*INICIO*/
#inheader{
	width:100%;
	height:42.18vw;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/inicio/Header.jpg);
}
	#inheader img{
		width:100%;
		height:100%;
		opacity:0;
	}
#inroc{
	width:100%;
	height:33.3vw;
	float:left;
}
#inrocleft{
	width:50%;
	height:100%;
	float:left;
}
	#inrocleft img{
	width:100%;
	height:100%;
}
.inrocright{
	width:50%;
	height:100%;
	float:left;
	background-color: #8b8a8f;
	color:white;
	text-align: center;
	overflow: auto;
	font-size: 1.1vw;
	padding-left: 10%;
    padding-right: 10%;
}
.roctext{
	text-align: justify;
	padding-left: 10%;
	padding-top: 5%;
	width:60%;
	font-size: 1.1vw;
}
.rocboton{
	/*padding-top: 10%;*/
	width: 20%;
    /*height: 45px;*/
    border: 2px solid white;
    text-align: -webkit-center;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}
.rocboton p{

	padding-top: 5%;
}
.rocboton:hover{
	background-color:white;
}
.rocboton:hover p{
	color:#8b8a8f;
}

.inblue{
	width:100%;
	float:left;
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	background-image: url(../img/inicio/22.jpg);
	
}
.h800{
	height:37vw;

}
#contenido{
	height:100%;
	padding-top: 30%;
    padding-bottom: 40%;
}
.inbluagua{
	position:relative;
	background-image: url(../img/inicio/agua.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	position: relative;
	margin-left: auto;      
    margin-right: auto; 
}
.inbluleft{
	width:50%;
	float:left
}
.inbluright{
	width:50%;
	float:left
}
#programa{
/*	width:26.7vw;
	height:7.5vw;*/
	width:56%;
	height:11%;
	position:relative;
	margin-right: auto;
	margin-left: auto;	
	top:35%;
	margin:-20px auto;
	border:5px solid white;
	text-align: center;
	font-size: 3vw;
	font-family: OpenSans-ExtraBold;

}
	#programa p{
		margin-top: 5%;
		color:white;
		
	}
	#programa a:hover{
		text-decoration: none !important;
	}
	#programa:hover {
		background-color: white;
	}
	#programa:hover p{
		color:#008c89;
		
	}
#divsup{

    width:29%;
    /*height:0%;*/
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 37%;
    background-color: white;
    right: 13.8%;
    color:#008c89;
    font-size: 1.8vw;
    font-family: OpenSans-ExtraBold;
    left:-13.5%;
    z-index: 1;
 
}
.inbluvigilancia{
	position:relative;
	background-image: url(../img/inicio/vigilancia.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	position: relative;
	margin-left: auto;      
    margin-right: auto; 

}
	
#inmonitoreo{
	width:100%;
	height:39.58vw;
	float:left;
	background-image: url("../img/inicio/home SW.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
}

.inayudar{
	width:100%;
	float:left;
	background-image: url("../img/inicio/SAND HELP.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	color:white;
	font-size: 250%;
	padding-right: 10%;
	padding-left: 10%;
	padding-bottom: 3%;
	font-family: OpenSans-Regular;
}
	.inayudar h2{
	font-size: 120%;
	font-family:OpenSans-Bold;
	}

#unete{
	width: 15%;
	float:right;
	height:6%;
	border: 3px solid white;
	text-align: center;
	/*color:white !important;*/
}
	#unete a{
		text-decoration: none;
		color:white;
	}
	#unete:hover{
		background:white;
	}
	#unete:hover a{
		color:black;
	}

	
#inamoelagua{
	width:100%;
	height:25vw;
	float:left;
	background-image: url("../img/inicio/amoelagua.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
}

.persona img{
	width:100%;
	/*height:auto;*/
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.right{
	
	background-color: #8b8a8f;
	color:white;
	text-align: center;
	overflow: auto;
	padding-left: 10%;
    padding-right: 10%;
    /*font-size: 1.67vw;*/
    font-family: OpenSans-Regular;

}
.color{
	background-color: #8b8a8f;
}
	.right h2{
			margin-top: 20%;
			font-size: 3vw;
			font-family: OpenSans-ExtraBold;
		}
	.right p{
		/*margin-bottom: 20%;*/
		/*font-size: 1.67vw;*/
	}

/*.col-md-6 {
  height:inherit;
  position:relative;
}*/

@media (max-width: 991px)  {
	.anch{
		width:100%;
		font-size: 4vw;
	}
	.anch h2{
		
		font-size: 8vw;
	}
	.anch p{
		
		font-size: 3vw;
	}
}

.obscurecer:hover img{
	opacity: .2;
}
.obscurecer:hover .txtimg {
	visibility: visible;
  	opacity: 1;
}
.obscurecer:hover .txtimg2 {
	visibility: visible;
  	opacity: 1;
}
.txtimg{
	position: absolute;
	top: 6%;
	bottom: 0;
	left: 10%;
	right: 10%;
	text-align: justify;
	color:white;
	visibility: hidden; 
  	opacity: 0; 
  	overflow-y: scroll;
  	font-family: OpenSans-Regular;
  	font-size: 150%;
  	padding-right: 10%;
}
.txtimg2{
	position: absolute;
	/*top: 6%;*/
	bottom: 0;
/*	left: 10%;
	right: 10%;*/
	text-align: justify;
	color:white;
	visibility: hidden;
  	opacity: 0;
  	overflow-y: scroll;
  	font-family: OpenSans-Regular;
  	font-size: 150%;
}

.txtimg img{
	width:75%;
}
	.txtimg b{
	font-family: OpenSans-ExtraBold;
}
.CondensedBold p{
	font-family: OpenSans-CondensedBold;
}
.gris{
 	 background-color: #4D4D4D
}


@media (min-width: 1440px) and (max-width: 1180px) {
	.texto2 p{
		padding-top: 10%;
	}
}
@media (min-width: 992px) and (max-width: 1139px) {
	.texto2 p{
		padding-top: 7%;
	}
}
@media screen and (max-width: 991px) {
	.texto2 p{
		padding-top: 10%;
	}
	.texto p{
		font-size: 150%;
		padding-bottom: 5%
	}
	#titulo h2{
		font-size: 6vw;
	}
}

@media (min-width: 991px) and (max-width: 1454px) {
	#alliance{
	text-align: center;
	
	padding-top:0%
	}
}

.persona .scroll::-webkit-scrollbar {
    width: .5em;
}
 
.persona .scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.persona .scroll::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.persona .scroll::-webkit-scrollbar-button {
	background-color: darkgrey;
}

@media screen and (max-width: 991px) {
    .imgPrincipal .sombra {
    background: rgba(0,0,0,0.65);
    }

    .imgPrincipal p{
    	text-align: center;
    }
    .imgPrincipal img{
    	margin-right: auto;
    	margin-left: auto;
    }
    .qsheader .sombra{
		 background: rgba(0,0,0,0.65);
    }
    .qsheader p{
    	text-align: center;
    }
    .qsheader img{
    	margin-right: auto;
    	margin-left: auto;
    }
    .right p{
		margin-bottom: 15%;
	}
	#unete{

		margin-right: 30%;
		margin-top:auto;
		width:120px;
	}
	#programa{
		border: 1px solid white;
	}

	.roctext {
		padding-left: 10%;
    	padding-right: 10%;
    	padding-top: 10%;
   		width: 100%
	}
	.right h2 {
     margin-top: 0%; 
 	}
	.rocboton{
	margin-bottom: 5%;
	height: auto;

	}
	#qstext{
		padding-top: 5%;
	}
	.imgPrincipal{
		font-size: 40px;
	}
	#titulo h2{
		font-size: 5vw;
	}

}

@media screen and (max-width: 501px) {
	#programa{

	/*	margin: -10px auto;
		margin-left: 25%;*/
		border: 1px solid white;
	}
	#divsup{
		    margin-bottom: 17px;
	}
}

@media screen and (min-width: 1201px) {
	#titulo2 img {
    	width: 35%;
	}
}
@media screen and (max-width: 550px) {
	#divsup{
		    margin-bottom: 17px;
	}

	#titulo h2{
		font-size: 8vw;
	}
	.olas img{
		width:95%;
	}
}