/*Fonts ----------------------*/
@font-face {
    font-family: OpenSans-Light;
    src: url("../fonts/site/OpenSans-Light.ttf");
}

@font-face {
    font-family: OpenSans-Regular;
    src: url("../fonts/site/OpenSans-Regular.ttf");
}

@font-face {
    font-family: OpenSans-Bold;
    src: url("../fonts/site/OpenSans-Bold.ttf");
}

@font-face {
    font-family: OpenSans-ExtraBold;
    src: url("../fonts/site/OpenSans-ExtraBold.ttf");
}

@font-face {
    font-family: OpenSans-CondBold;
    src: url("../fonts/site/OpenSans-CondBold.ttf");
}

@font-face {
    font-family: OpenSans-ExtraBoldItalic;
    src: url("../fonts/site/OpenSans-ExtraBoldItalic.ttf");
}

/* Global ----------------------------------------------*/
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.borderOK {
    border: 1px black solid;
}

.nopadding {
    padding: 0px !important;
}

.no_hor_padding {
    padding-right: 0px;
    padding-left: 0px;
}

.nomargin {
    margin: 0px !important;
}

.sep-pro {
    height: 50px;
    font-weight: white;
}

[v-cloak] {
  display: none;
}

/*------------------------------------- */


/* --------------------------------------*/
/* Header -------------------------------*/
/* --------------------------------------*/

.header .container-header {
    padding-right: 10%;
    padding-left: 10%;
}

.header .flexMenu {
    flex-wrap: wrap;
    justify-content: space-between;
}

.header .logo {
    width: 220px;
    height: 188px;
    float: right;
    margin: 20px 0;
}

.header .text {
    font-size: 14px;
    font-family: OpenSans-Regular;
    text-align: right;
    margin: 20px 0;
    color: #4D4D4D;
    text-decoration: none;
    justify-content: flex-end;
    align-items: center;
}

.header .text div {
    margin-right: 30px;
}

.header .text a { text-decoration: none; color: #4D4D4D; }

.header .text b {
    font-family: OpenSans-ExtraBold;
}

.header .button {
    display: inline-block;
    border: 2px solid #4d4d4d;
    border-radius: 0;
    width: 180px;
    height: 50px;
    color: #4D4D4D;
    font-family: OpenSans-Bold;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    padding: 12px;

    /* Transition */
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.header .button:hover {
    background-color: #4d4d4d;
    color: white;
}

.header .button-menu {
    display: inline-block;
    border: 4px solid #4d4d4d;
    border-radius: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
    background-image: url('../img/menu.jpg');
    background-size: cover;
}

.header .button-X {
    display: inline-block;
    border: 4px solid #4d4d4d;
    border-radius: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 30px;
    color: white;
    background-color: #4d4d4d;
    text-decoration: none;
}

.header .text-menu {
    font-size: 16px;
    font-family: OpenSans-Light;
    text-align: right;
    margin: 20px 0;
    color: #4D4D4D;
    text-decoration: none;
    justify-content: flex-end;
    align-items: center;
}

.header .text-menu a { 
    text-decoration: none; 
    color: #4D4D4D;

    /* Transition */
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.header .text-menu a:hover {
    text-shadow: 0px 0px 1px #000;
}

.header .text-menu a.active {
    font-family: OpenSans-ExtraBold;
}

.header .text-menu div {
    margin-left: 30px;
    position: relative;
}

/* Menu Submenus */
.header .menu div ul {
    position: absolute;
    left: -9999px;
    text-decoration: none; 
    color: #4D4D4D;
    list-style: none;
    width: 9em;
    padding: 0;
    text-align: left;
}

.header .text-menu a:hover + ul {
    left: 0;
}

.header .text-menu a + ul:hover {
    left: 0;
}
/* Menu Submenus */

/* Menu Mobile */
.header .mobilemenu {
    display: none;
    font-size: 16px;
    font-family: OpenSans-Light;
    text-align: left;
    margin: 20px 0;
    color: #4D4D4D;
    text-decoration: none;
}

.header .mobilemenu a {
    text-decoration: none;
    color: #4D4D4D;

    /* Transition */
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.header .mobilemenu a:hover {
    text-shadow: 0px 0px 1px #000;
}

.header .mobilemenu a.active {
    font-family: OpenSans-ExtraBold;
}

.header .mobilemenu div ul {
    text-decoration: none; 
    color: #4D4D4D;
    list-style: none;
    width: 9em;
    padding: 0;
    text-align: left;
}

.header hr {
    height: 1px;
    background-color: #4D4D4D;
}

.header .flexSocialIcons {
    justify-content: flex-end;
}

.header .flexSocialIcons i {
    background-color: #4D4D4D;
    color: white;
    border-radius: 25px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    padding: 8px;
    margin-right: 10px;
}
/* Menu Mobile */


@media screen and (max-width: 1310px) {
    .header .mobilemenu {
        display: block;
    }

    .header .text-menu {
        display: none;
    }
}

@media screen and (max-width: 865px) {
    .header .flexMenu {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header .text {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header .text div {
        margin-right: 10px;
        margin-bottom: 15px;
    }
}


/* --------------------------------------*/
/* Header -------------------------------*/
/* --------------------------------------*/


/* --------------------------------------*/
/* Help ---------------------------------*/
/* --------------------------------------*/

.help.bgtop {
    
    /* Create the parallax scrolling effect */
    background: url(../img/help/bg-top.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
    font-family: OpenSans-ExtraBold;
    font-size: 80px;
}

.help.bgtop .items {
    padding-top: 180px;
    padding-bottom: 180px;

    /* Black Gradient */
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 66%, rgba(0,0,0,0.52) 79%, rgba(0,0,0,0.39) 91%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 66%,rgba(0,0,0,0.52) 79%,rgba(0,0,0,0.39) 91%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 66%,rgba(0,0,0,0.52) 79%,rgba(0,0,0,0.39) 91%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.help.bgtop .items p {
    text-align: right;
}

.help.bgtop .items img {
    margin-left: auto;
}

@media screen and (max-width: 991px) {
    .help.bgtop .items {
        background: rgba(0,0,0,0.65);
    }

    .help.bgtop .items p {
        padding-top: 30px;
        text-align: center;
        font-size: 40px;
    }

    .help.bgtop .items img {
        margin-left: auto;
        margin-right: auto;
    }
}

.help.member {
    background-color: #D5EFEC;
    padding: 20px;
    color: #008380;
    font-family: OpenSans-ExtraBold;
    font-size: 40px;
    text-align: center;
}

.help.member .minitext {
    max-width: 782px;
    margin-right: auto;
    margin-left: auto;
}

.help.member .minitext p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #008380;
    font-family: OpenSans-Regular;
    font-size: 14px;
    text-align: center;
}

.help .donate_btn {
    display: inline-block;
    border: 2px solid #005855;
    border-radius: 0;
    width: 180px; 
    height: 50px;
    color: #005855;
    font-family: OpenSans-Bold;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    padding: 12px;
    background-color: transparent;

    /* Transition */
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.help .donate_btn:hover {
    background-color: #005855;
    color: white;
}

.help .donate_btn:focus { outline: none; }

.help .donateV_btn {
    display: inline-block;
    border: 2px solid #005855;
    border-radius: 0;
    width: 255px; 
    height: 50px;
    /*color: white;*/
    color: #005855;
    font-family: OpenSans-Bold;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    padding: 12px;
    background-color: transparent;
    /*background-color: #005855;*/

    /* Transition */
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.help .donateV_btn:focus { outline: none; }

.help .donateV_btn:hover {
    background-color: #005855;
    color: white;
}

.help input[type=text] {
    background-color: #00AFA9;
    width: 100%;
    height: 50px;
    color: white;
    font-family: OpenSans-Bold;
    font-size: 20px;
    border: none;
    padding: 10px;
}

.help input[type=text]:focus {
    outline: none;
}


.help ::-webkit-input-placeholder {
   color: white;
}

.help :-moz-placeholder { /* Firefox 18- */
   color: white;  
}

.help ::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

.help :-ms-input-placeholder {  
   color: white;  
}

.help .gracias {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #008380;
    font-family: OpenSans-Regular;
    font-size: 14px;
    text-align: center;
}

.help .dbtn {
    display: inline-block;
    border-radius: 0;
    width: 100%;
    max-width: 255px; 
    height: 50px;
    color: white;
    font-family: OpenSans-Bold;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    padding: 8px;
    

    /* Transition */
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.help .dbtn:hover {
    transform: scale(1.15);
}

.help .btn-blue {
    border: 2px solid #00AFA9;
    background-color: #00AFA9;
}

.help .btn-grey {
    border: 2px solid #8A8A8D;
    background-color: #8A8A8D;
}

.help .btn-yellow {
    border: 2px solid #C3D500;
    background-color: #C3D500;
}

.help .btn-red {
    border: 2px solid #FF5000;
    background-color: #FF5000;
}

.help .btn-hardblue {
    border: 2px solid #42528E;
    background-color: #42528E;
}

.help .btn-final {
    border: 2px solid #005855;
    background-color: transparent;
    font-size: 12px;
    color: #005855;
}

.help input[type=number] {
    background-color: #00AFA9;
    width: 100%;
    height: 50px;
    color: white;
    font-family: OpenSans-Bold;
    font-size: 20px;
    border: none;
    padding: 10px;
}

.help input[type=number]:focus {
    outline: none;
}

.help.share {
    position: relative;
    background:  url(../img/help/bg-share-deep.jpg);
    /*background-attachment: fixed;*/
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size: cover;
}

.help.share .abswaves {
    position: absolute;
    left: 0;
    top: -25px;
    overflow-x: hidden;
    width: 100%;
}

.help.share .title-text {
    font-family: OpenSans-ExtraBold;
    font-size: 35px;
    text-align: center;
    margin-top: 220px;
    margin-bottom: 5px;
    color: white;
}

.help.share .title-text2 {
    font-family: OpenSans-ExtraBoldItalic;
    font-size: 45px;
    text-align: center;
    margin-bottom: 15px;
    color: white;
}

.help.share .next-titles {
    font-family: OpenSans-CondBold;
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
    color: white;
}

.help.share p.mini-text {
    font-family: OpenSans-Regular;
    font-size: 14px;
    text-align: center;
    color: white;
    padding: 40px;
}

.help.flag {
    background:  url(../img/help/SAND-HELPY.jpg);
    background-size: cover;
}

.help.flag .title {
    font-family: OpenSans-ExtraBold;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    color: white;
}


.help.flag .rbtn {
    display: inline-block;
    border-radius: 0;
    width: 100%;
    max-width: 255px; 
    height: 50px;
    color: white;
    font-family: OpenSans-Bold;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    padding: 8px;
    background-color: #005855;
    border: none;
    margin-bottom: 30px;
    

    /* Transition */
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.help.flag .rbtn:hover {
    transform: scale(1.15);
}

.help.flag .rbtn:focus {
    outline: none;
}

/* --------------------------------------*/
/* Help ---------------------------------*/
/* --------------------------------------*/


/* --------------------------------------*/
/* Recorridos ---------------------------*/
/* --------------------------------------*/

.recorridos.bgtop {
    /* Create the parallax scrolling effect */
    background: url(../img/recorridos/bgtop.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
    font-family: OpenSans-ExtraBold;
    font-size: 80px;
}

.recorridos.bgtop .items {
    padding-top: 180px;
    padding-bottom: 180px;

    /* Black Gradient */
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 66%, rgba(0,0,0,0.52) 79%, rgba(0,0,0,0.39) 91%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 66%,rgba(0,0,0,0.52) 79%,rgba(0,0,0,0.39) 91%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 66%,rgba(0,0,0,0.52) 79%,rgba(0,0,0,0.39) 91%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.recorridos.bgtop .items p {
    text-align: right;
}

.recorridos.bgtop .items .minitext {
    font-size: 28px;
}

.recorridos.bgtop .items img {
    margin-left: auto;
}

@media screen and (max-width: 991px) {
    .recorridos.bgtop .items {
        background: rgba(0,0,0,0.65);
    }

    .recorridos.bgtop .items p {
        padding-top: 30px;
        text-align: center;
        font-size: 40px;
    }

    .recorridos.bgtop .items img {
        margin-left: auto;
        margin-right: auto;
    }
}

.recorridos.noticias { 
    background-color: #E7E6E6;
}

.recorridos .box {
    padding-right: 30px;
    padding-left: 30px;
}

.recorridos .box.br {
    border-right: 1px solid #00AFA9;
}

.recorridos .title {
    color: #4D4D4D;
    font-family: OpenSans-ExtraBold;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
}

.recorridos .title a { 
    text-decoration: none; 
    color: #4D4D4D;
}

.recorridos .bitacoraROC {
    color: #00AFA9;
    font-family: OpenSans-ExtraBold;
    font-size: 20px;
    margin-bottom: 20px;
}

.recorridos .descripcion {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #4D4D4D;
    text-align: justify;
    margin-bottom: 20px;
}

.recorridos .r_footer{
    justify-content: space-between;
    align-items: center;
    margin-top: 60px; 
}

.recorridos .tipo {
    font-family: OpenSans-Bold;
    font-size: 15px;
    color: #4D4D4D;
    margin-top: 15px;
    margin-bottom: 15px;
}

.recorridos .spot-adventures {
    align-items: center;
}

.recorridos .spot-adventures i {
    margin-right: 20px;
    font-size: 40px;
}

.pagination>li>a, .pagination>li>span {
    border: none !important; 
    margin: 0 5px;
    font-family: OpenSans-CondBold;
    font-size: 15px;
    color: #8A8A8D;
    background-color: transparent;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    border: none !important; 
    margin: 0 5px;
    font-family: OpenSans-CondBold;
    font-size: 15px;
    color: #59595a;
    background-color: transparent;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    border: none !important; 
    margin: 0 5px;
    font-family: OpenSans-CondBold;
    font-size: 15px;
    color: #8A8A8D;
    background-color: transparent;
}

@media screen and (max-width: 991px) {
    .recorridos .box.br {
        border-right: none;
    }
}


/* --------------------------------------*/
/* Recorridos ---------------------------*/
/* --------------------------------------*/


/* --------------------------------------*/
/* Patrocinadores -----------------------*/
/* --------------------------------------*/

.patrocinadores {
    background-color: #42528E;
    padding: 20px;
}

/* --------------------------------------*/
/* Patrocinadores -----------------------*/
/* --------------------------------------*/



/* --------------------------------------*/
/* Reportes -----------------------------*/
/* --------------------------------------*/

.reportes.bgtop {
    /* Create the parallax scrolling effect */
    background: url(../img/reportes/ROC.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.reportes.formulario {
    background-color: #00AFA9;
}

.reportes.formulario .title-text {
    font-family: OpenSans-Regular;
    font-size: 31px;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.reportes.formulario .bold-title {
    font-family: OpenSans-ExtraBold;
    font-size: 45px;
    color: white;
    text-align: center;
}

.reportes .btn {
    display: inline-block;
    border: 2px solid #005855;
    border-radius: 0;
    width: 180px; 
    height: 50px;
    color: white;
    font-family: OpenSans-Bold;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    padding: 12px;
    background-color: #005855;
    margin-bottom: 25px;

    /* Transition */
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.reportes .btn:hover {
    background-color: transparent;
    color: #005855;
}

.reportes .btn:focus { outline: none; }

.reportes textarea {
    border: 2px solid #005855;
    color: #005855;
    padding: 10px;
    background-color: #D5EFEC;
    font-family: OpenSans-Bold;
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px;
}

.reportes textarea:focus { outline: none; }

.reportes .fileinput {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.reportes .circleform {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    display: inline-block;
    background-color: #005855;
    margin-right: 20px;
}

.reportes .circleform i {
    color: white;
    font-size: 40px;
    cursor: pointer;
    padding-left: 5px;
}

.reportes input[type=file] {
    visibility: hidden;
}

.reportes .text-file {
    font-family: OpenSans-CondBold;
    font-size: 16px;
    color: white;
}

.reportes.formulario .f-text {
    font-family: OpenSans-CondBold;
    font-size: 16px;
    color: white;
    text-align: left;
    /*padding-left: 20px;*/
    margin-bottom: 20px;
}

.reportes .fileinput2 {
    justify-content: flex-start;
    margin-bottom: 0px;
    align-items: flex-start;
}

.reportes input[type=text] {
    border: 2px solid #005855;
    color: #005855;
    padding: 10px;
    background-color: #D5EFEC;
    font-family: OpenSans-Bold;
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px;
}

.reportes input[type=text]:focus {
    outline: none;
}

.reportes .circleform2 {
    border-radius: 50px;
    width: 50px;
    height: 47px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    background-color: #005855;
    margin-right: 15px;
}

.reportes .circleform2 i {
    color: white;
    font-size: 30px;
}

.reportes.anual {
    background: url(../img/reportes/anual-bg.jpg);
    background-size: cover;
}

.reportes.anual .title {
    font-family: OpenSans-CondBold;
    font-size: 32px;
    color: #93A100;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

.reportes.anual .mini-text {
    max-width: 335px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.reportes.anual p {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #93A100;
    padding: 40px;
}

.amo_agua {
   background: url(../img/reportes/amoelagua.jpg);
   background-size: cover;
}

.amo_agua .flexSocialIcons {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 60px;
}

.amo_agua .flexSocialIcons a {
    margin-right: 20px;
}

.amo_agua .aguita {
    margin-bottom: 30px;
}

.amo_agua .imgtext {
    margin-bottom: 120px;
}


/* --------------------------------------*/
/* Reportes -----------------------------*/
/* --------------------------------------*/



/* --------------------------------------*/
/* Convenios ----------------------------*/
/* --------------------------------------*/

.convenios.bgtop {
    
    background: url(../img/help/bg-top.jpg);
    background-size: cover;
    color: white;
    font-family: OpenSans-ExtraBold;
    font-size: 80px;
}

.convenios.bgtop .items {
    padding-top: 180px;
    padding-bottom: 180px;
}

.convenios.bgtop .items p {
    text-align: right;
}

.convenios.bgtop .items img {
    margin-left: auto;
}

.convenios.lista .title {
    color: #4D4D4D;
    font-family: OpenSans-ExtraBold;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.convenios.lista .descripcion {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #4D4D4D;
    text-align: justify;
    margin-bottom: 20px;
}

.convenios.lista .ver_btn {
    margin-top: 60px;
    display: inline-block;
    border: 2px solid #005855;
    border-radius: 0;
    width: 180px; 
    height: 50px;
    color: #005855;
    font-family: OpenSans-ExtraBold;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    padding: 7px;
    background-color: transparent;

    /* Transition */
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.convenios.lista .ver_btn span { font-size: 22px; }

.convenios.lista .ver_btn:hover {
    background-color: #005855;
    color: white;
}

@media screen and (max-width: 991px) {
    .convenios.bgtop .items {
        background: rgba(0,0,0,0.65);
    }

    .convenios.bgtop .items p {
        padding-top: 30px;
        text-align: center;
        font-size: 40px;
    }

    .convenios.bgtop .items img {
        margin-left: auto;
        margin-right: auto;
    }
}


/* --------------------------------------*/
/* Convenios ----------------------------*/
/* --------------------------------------*/



/* --------------------------------------*/
/* Monitoreo ----------------------------*/
/* --------------------------------------*/

.monitoreo {
    background: url(../img/monitoreo/bg.jpg);
    background-size: cover;
}

.monitoreo .title {
    font-family: OpenSans-Bold;
    font-size: 28px;
    color: #4D4D4D;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 40px;
}

.monitoreo .rightline {
    border-right: 1px solid black;
}

.monitoreo .leftline {
    border-left: 1px solid black;
}

.monitoreo table {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.monitoreo table th {
    font-family: OpenSans-Bold;
    font-size: 20px;
    color: #4D4D4D;
    text-align: center;
    padding: 5px;
}

.monitoreo table td {
    text-align: center;
    font-family: OpenSans-Regular;
    font-size: 21px;
    color: #4D4D4D;
    padding: 5px;
}

.monitoreo .conftext {
    text-align: center;
    font-family: OpenSans-Light;
    font-size: 13px;
    color: #0c0c0c;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
    .monitoreo .rightline {
        border-right: none;
    }

    .monitoreo .leftline {
        border-left: none;
    }
}

/* --------------------------------------*/
/* Monitoreo ----------------------------*/
/* --------------------------------------*/



/* --------------------------------------*/
/* Footer -------------------------------*/
/* --------------------------------------*/

.footer {
    background-color: #4D4D4D;
    font-family: OpenSans-Bold;
    font-size: 15px;
    color: white;
}

.footer .fleximgs {
    /*padding: 30px;*/
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer .fleximgs img {
    margin-bottom: 20px;
}

.footer .flexText {
    padding: 20px;
    justify-content: space-around;
    text-decoration: none;
    flex-wrap: wrap;
}

.footer .flexText div {
    margin-right: 15px;
}

.footer .flexText a { 
    text-decoration: none; 
    color: white;
}

.footer .flexSocialIcons {
    justify-content: center;
    margin-top: 15px;
    flex-wrap: wrap;
}

.footer .flexSocialIcons i {
    background-color: white;
    color: #4d4d4d;
    border-radius: 25px;
    width: 30px;
    height: 30px;
    font-size: 19px;
    text-align: center;
    padding: 6px;
    margin-right: 15px;
}

.footer .direccion {
    text-align: center;
}

.footer .direccion p {
    margin-bottom: 5px;
}

/* --------------------------------------*/
/* Footer -------------------------------*/
/* --------------------------------------*/

/* --------------------------------------*/
/* Scroll Bar ---------------------------*/
/* --------------------------------------*/

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    font-weight: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    font-weight: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    font-weight: #aaa;
}

/* --------------------------------------*/
/* Scroll Bar ---------------------------*/
/* --------------------------------------*/


/* --------------------------------------*/
/* Social Login Buttons------------------*/
/* --------------------------------------*/

/* Shared */
.sociallogin a {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 5px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 15px;
  color: #FFF;
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}

.sociallogin a {
  outline: none;
}

.sociallogin a:hover {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

/* --------------------------------------*/
/* Social Login Buttons------------------*/
/* --------------------------------------*/